/*HUy*/
            .listLinkHeaderTop i{
                color: #fff;
            }
            .listLinkHeaderTop:hover{
                color: #fff;
            }
            .btnBookNowRoomList{
              margin: 10px 0;
            }
            a:focus{
                outline: none;
            }
            .showMenu .listItemHeaderTop>a{
                color: #2a2836;
            }
            .contentTextSlideMain{
                width: 50%;
                font-size: 38px;
                background: rgba(0, 0, 0, 0.5);
                padding: 15px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
            .wrapPrice{
                position: relative;
                height: 40px;
                margin: 10px 0;
            }
            .btnBookNowRoomList{
                position: absolute;
                top: -10px;
                right: 0;
            }
            .contentPromotionList .wrapTitleType2{
                margin-bottom: 20px;
            }
            .showSlideUtilities .btnSlideType2.left,.showSlideUtilities .btnSlideType2.right{
                top:0;
            }
            /*css new menu*/
            .wrapLogoHeader{
                float: left;
                width: 100%;
                height: 100px;
                position: relative;
                display: flex;
                margin-bottom: 0;
            }
            .linkLogoHeaderBottom{
                margin: auto;
            }
            /*.fixedMenu .imgLogoHeaderBottom{
                height: auto;
            }*/
            .wrapHeader{
                height: auto;
            }
            .listLinkMenuMainHeaderBottom{
                line-height: 55px;
            }
            .wrapBtnBookRoomHeader{
                margin-top: 5px;
            }
            /*.btnDropdowMenuSubHeaderBottom.arrowSubmenu{
                top:25%;
            }*/
            .listItemMenuSubHeaderBottom.menuSubHeaderBottom{
                position: relative;
            }
            /*.listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu i{
                position: absolute;
                right: 15px;
                top: 25%;
            }*/
            .listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu{
                position: absolute;
                right: -10px;
                top: 50%;
            }
            .listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu>.fa-chevron-down{
                    display: none;
                }
                .listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu>.fa-chevron-right{
                    display: block;
                }
                .wrapBranch{
                    padding: 35px 0;
                    background-color: #fff;
                }
                .wrapSlideBrand{
                    margin: 30px -15px 0 -15px;
                }
                .elementSlideBrand{
                    padding: 0 15px;
                }
                .listBrand{
                    margin-top: 30px;
                }
                .listBrand .btnSlideType1.right{
                    right: 20px;
                    top: 25%;
                }
                .listBrand .btnSlideType1.left {
                    left: 20px;
                    top: 25%;
                }
                .wrapInfoBrandItem{
                    color: #888888;
                    font-size: 16px;
                    margin: 10px 0;
                    line-height: 24px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    max-height: 96px;
                }
                .contentListProject h3{
                    padding-top: 35px;
                }
                .wrapListProject .containerListProject{
                    padding-bottom: 35px;
                }
            @media(max-width: 480px){
                .listProject .btnSlideType1.left{
                    left: 15px;
                    top: 30%;
                }
                .listProject .btnSlideType1.right {
                    right: 15px;
                    top: 30%;
                }
                .wrapPromotionList .btnSlideType1.left {
                    left: 15px;
                    top: 25%;
                }
                .wrapPromotionList .btnSlideType1.right {
                    right: 15px;
                    top: 25%;
                }
                .contentUtilities .btnSlideType2.right ,.contentUtilities .btnSlideType2.left{
                    display: none;
                }
            }
            @media(min-width: 992px){
            .wrapHeader.fixedMenu .wrapLogoHeader{
                            display: none;
                        }
            }
            @media(max-width: 991px){
                .headerTopRight {
                    float: right;
                    position: absolute;
                    top: 10%;
                }
                .btnBookNowRoomList{
                    display: none;
                }
                .wrapTitleType2{
                    text-align: center;
                    line-height: 40px;
                    font-size: 24px;
                }
                .wrapLogoHeader{
                    display: table;
                    margin: auto;
                    float: unset;
                    width: auto;
                    height: auto;
                }
                .wrapHeader{
                    height: 60px;
                }
                .listLinkMenuMainHeaderBottom {
                    line-height: 20px;
                }
                .listLinkHeaderTop i{
                    color: #fecd2c;
                }
                .listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu{
                    right: 0;
                }
                .listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu>.fa-chevron-right{
                    display: none;
                }
                .listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu>.fa-chevron-down{
                    display: block;
                }
                .menuSubHeaderBottom .listMenuSubHeaderBottom{
                    padding-left: 10px;
                }
                .listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu{
                    top: 0;
                }
                .listItemMenuSubHeaderBottom.menuSubHeaderBottom .arrowSubmenu i{
                    position: absolute;
                    right: 15px;
                    top: 25%;
                }
                .listBrand .btnSlideType1.right{
                    right: 15px;
                    top: 25%;
                }
                .listBrand .btnSlideType1.left {
                    left: 15px;
                    top: 25%;
                }
                .languageMenu{
                    padding-left: 0 !important;
                }
            }
/*Location home page*/
            .itemlocationList{
                position: relative;
                padding: 5px 60px 5px 0;
                float: left;
                width: 45%;
                border-bottom: solid #fff 1px;
                margin-left: 10px;
                text-align: left;
            }
            .titleLocation{
                color: #fff;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                margin: 0;
                font-family: "IBMPlexSerif";
            }
            .itemlocationList a {
                font-size: 16px;
                line-height: 24px;
                color: #fff;
                position: relative;
                z-index: 1;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                max-height: 24px;
            }
            .wrapFromMap {
                position: absolute;
                top: 5px;
                right: 0;
                z-index: 0;
                color: #fff;
                font-size: 14px;
                line-height: 24px;
            }
            .divLocaiton{
                width: 50%;
                margin: auto;
            }
            .contentBannerContact .btnContactNow{
                margin-top: 20px;
            }
            .containerTextBreadcrumb{
                border: solid #fff;
                display: table;
                max-width: unset;
                margin: auto;
                width: auto;
                padding: 5px;
            }
            .btnShowBookRoom {
                text-transform: uppercase;
            }

            @media (max-width: 767px){
                .itemlocationList{
                float: unset;
                width: auto;
            }
            .divLocaiton{
                width: 100%;
            }
            }
